ul {
    
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    width: 180px;
    height: auto;
    background-color: #c2e452bc;
    text-align: center;
  }
  
li{
    float: left;
}
li a{
    display: block;
    color: rgb(24, 24, 24);
    text-align: center;
    padding: 10px;
    text-decoration: none;

}
li a:hover{background-color: rgb(65, 232, 14);

}
p{
    background-color: rgba(248, 35, 230, 0.479);
}
body{
    background-color: aqua;
}

div.nav{
    width: 50%;
    overflow: hidden;
    display: inline-block;
}

 
 div.frame{
    width: 50%;
    
    background-color: antiquewhite;
    border: none;
    
    float :right;
 }
 body{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }